<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No-One</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWEaB4YibzsbUMPh6xIeJ3r3lreyAAB2w&callback=console.debug&libraries=maps,marker&v=beta">
        </script>
    <style>
        .card {
            background-color: #ffffff;
            border: 1px solid #e5e7eb;
            border-radius: 0.5rem;
        }

        .card-header {
            background-color: #f9fafb;
            border-bottom: 1px solid #e5e7eb;
            padding: 0.75rem 1rem;
            font-weight: 700;
        }

        .card-body {
            padding: 1rem;
        }

        .card-footer {
            border-top: 1px solid #e5e7eb;
            padding: 0.75rem 1rem;
            text-align: right;
        }
    </style>
</head>

<body class="bg-gray-100">

    <!-- header -->
    <header class="bg-white shadow">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex justify-between items-center">
            <h1 class="text-3xl font-bold text-gray-900"><a href="/">No-One</a></h1>
            <div>
                <a href="/posts">
                    <button
                        class="btn mx-1 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Post
                    </button>
                </a>

                <a href="/map">
                    <button
                        class="btn mx-1 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Map
                    </button>
                </a>

                <a href="/login">
                    <button
                        class="btn ml-1 bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                        Login
                    </button>
                </a>
            </div>
        </div>
    </header>

    <main class="my-10">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <!-- Posts -->
            <div class="grid grid-cols-1 gap-6">

                <div class="card bg-white rounded-lg">
                    <div class="card-header">
                        {{ post.title }}
                    </div>
                    <div>
                        <img class="max-h-96" src=" /{{ post.image }}">
                    </div>
                    <div class="card-body">
                        {{ post.content }}
                    </div>

                    <div class="flex items-center justify-between w-full h-96 mb-8">
                        <gmp-map center="{{ post.lat }},{{ post.lng }}" zoom="20" map-id="DEMO_MAP_ID">
                            <gmp-advanced-marker position="{{ post.lat }},{{ post.lng }}" title="My location">
                            </gmp-advanced-marker>
                        </gmp-map>
                    </div>

                    <form class="mx-8 my-8" method="post" action="/api/comment">

                        <div class="mb-6">
                            <label for="content" class="block text-gray-700 text-sm font-bold mb-2">Comment</label>
                            <input type="text" id="content" name="content" required
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
                        </div>

                        <div class="mb-6" hidden>
                            <label for="content" class="block text-gray-700 text-sm font-bold mb-2">PostId</label>
                            <input type="text" id="PostId" name="PostId" required value="{{post.id }}"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline">
                        </div>


                        <div class="flex items-center justify-between">
                            <button type="submit"
                                class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                작성
                            </button>
                        </div>

                        {% for comment in comments %}
                        <div class="card-body">
                            {{ comment.User.username }}: {{ comment.content }}
                        </div>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>